.books-banner {
  height: 475px;
  width: 100%;
  position: relative;
  @include media(1100px) {
    height: 300px;
  }
  @include media(540px) {
    height: 280px;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--hero-bg);
  }
  .container {
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__nav {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 5px;
    z-index: 1;

    a {
      z-index: 1;
      color: var(--play-color);
    }
  }
}

.books-main {
  padding: 120px 0;
  @include media(900px) {
    padding: 80px 0;
  }
  &__title {
    @include title;
    color: var(--play-color);
    margin-bottom: 40px;
    text-transform: lowercase;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 44px;
  }
}

.book-item {
  &__img {
    width: 100%;
    height: 0;
    padding-bottom: 130%;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
    margin-bottom: 5px;
  }
  &__btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 20px;
    cursor: pointer;
    background: var(--pr-color);
    color: #fff;
    @include font(600, 16px, 1.2);
    transition: all 0.3s ease;
    &:hover {
      opacity: 0.8;
    }
  }
}

.journals {
  padding: 120px 0;
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 30px;
  }
}
.card-journal {
  background: var(--card-journal);
  color: var(--card-journal-text) !important;
  .title {
    display: -moz-box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }
  svg {
    path {
      fill: var(--title-color);
    }
  }
  .btn {
    background: var(--pr-color);
  }
  p {
    display: -moz-box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }
}

.journals-main {
  padding: 120px 0;
  .journals-title {
    @include title;
    margin-bottom: 10px;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
  }
  .journals-desc {
    color: #fff;
    margin-bottom: 24px;
  }
  .journals-left {
    width: 70%;
  }

  .journals-right {
    width: 30%;
  }
  .container {
    display: flex;
    gap: 40px;
  }
}
.card {
  background: var(--card);
}
