.books-banner {
  height: 475px;
  width: 100%;
  position: relative;
  @include media(1100px) {
    height: 300px;
  }
  @include media(540px) {
    height: 280px;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--hero-bg);
  }
  .container {
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__nav {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 5px;
    z-index: 1;

    a {
      z-index: 1;
      color: var(--play-color);
    }
  }
}

.books-main {
  padding: 120px 0;
  @include media(900px) {
    padding: 80px 0;
  }
  &__title {
    @include title;
    color: var(--play-color);
    margin-bottom: 40px;
    text-transform: lowercase;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 44px;
  }
}

.book-item {
  &__img {
    width: 100%;
    height: 0;
    padding-bottom: 130%;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
    margin-bottom: 5px;
  }
  &__btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 20px;
    cursor: pointer;
    background: var(--pr-color);
    color: #fff;
    @include font(600, 16px, 1.2);
    transition: all 0.3s ease;
    &:hover {
      opacity: 0.8;
    }
  }
}

.journals {
  padding: 120px 0;
  &-wrapper {
    width: calc(75% - 40px);
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    @include media(1270px) {
      width: 100%;
    }
  }
  .top {
    gap: 40px;
    align-items: center;
    input {
      width: 75%;
      @include media(845px) {
        width: 100%;
      }
    }
    @include media(845px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    @include media(1270px) {
      flex-direction: column;
    }
  }
  .search {
    color-scheme: var(--input-date);
    background: transparent;
    padding: 12px 20px;
    border: 1px solid var(--footer-form);
    color: var(--footer-desc);
    @include font(400, 18px, 1.2);
    @include media(600px) {
      width: 100%;
      font-size: 14px;
    }
    border-radius: 6px;
  }
  h2 {
    @include title;
    grid-column: 1/3;
    width: 25%;
    @include media(845px) {
      width: fit-content;
    }
  }
  &-filter {
    @include media(1270px) {
      width: 100%;
      flex-direction: row;
      justify-content: flex-end;
    }
    @include media(845px) {
      justify-content: flex-start;
      flex-wrap: wrap;
    }
    width: 24%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    label {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.2;
      text-transform: capitalize;
    }
    input {
      color-scheme: var(--input-date);
      background: transparent;
      padding: 12px 20px;
      border: 1px solid var(--footer-form);
      color: var(--footer-desc);
      @include font(400, 18px, 1.2);
      @include media(600px) {
        width: 100%;
        font-size: 14px;
      }
      border-radius: 6px;
    }
  }
}
.card-journal {
  background: var(--card-journal);
  color: var(--card-journal-text) !important;
  .title {
    display: -moz-box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }
  svg {
    path {
      fill: var(--title-color);
    }
  }
  .btn {
    background: var(--pr-color);
  }
  p {
    display: -moz-box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }
}

.journals-main {
  padding: 120px 0;
  .journals-title {
    @include title;
    margin-bottom: 10px;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    overflow-wrap: break-word;
  }
  .journals-wr {
    @include media(600px) {
      grid-template-columns: 1fr;
    }
  }
  .journals-desc {
    color: var(--text-color);
    margin-bottom: 24px;
  }
  .journals-left {
    width: 70%;
    @include media(1300px) {
      width: 100%;
    }
  }

  .journals-right {
    width: 30%;
    @include media(1300px) {
      width: 100%;
    }
  }
  .container {
    display: flex;
    gap: 40px;
    @include media(1300px) {
      flex-direction: column;
    }
  }
}
.card {
  background: var(--card);
}
