%pr-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px;
  width: 100%;
  @include font(700, 18px, 1.2);
  color: var(--play-color);
  border: 1px solid var(--play-color);
  transition: all .3s ease;
  &:hover {
    background: var(--pr-color);
    color: #fff;
    border-color: var(--pr-color);
  }
  @include media(1260px) {
    padding: 22px;
    font-size: 18px;
  }
  @include media(870px) {
    padding: 20px;
    font-size: 16px;
  }
}
