@tailwind base;
@tailwind components;
@tailwind utilities;

@import "typhopgraphy";
@import "variables";
@import "mixins";
@import "extends";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  display: flex;
  font-family: "Montserrat";
  flex-direction: column;
  color: var(--text-color);
  @include font(400, 20px, 1.2);
  background: var(--bg-color);
  @include media(720px) {
    font-size: 16px;
  }
}
.user-card {
  p,
  h4,
  a {
    color: var(--card-journal-text);
  }
  background: var(--card-journal);
  .user {
    width: calc(100% - 20px);
    height: 0;
    padding-bottom: 130%;
    overflow: hidden;
    position: relative;
    @include media(400px) {
      padding-bottom: 100%;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
  .user-button {
    background: var(--pr-color);
    color: #fff;
  }
}
.container {
  width: 100%;
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 20px;
}

@import "default";
@import "index";
@import "courses";
@import "news";
@import "teachers";
@import "teacher";
@import "books";
@import "one-news";
@import "about-course";
@import "contact";
@import "connect";
