@tailwind base;
@tailwind components;
@tailwind utilities;

@import "typhopgraphy";
@import "variables";
@import "mixins";
@import "extends";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    display: flex;
    font-family: 'Montserrat';
    flex-direction: column;
    color: var(--text-color);
    @include font(400,20px,1.2);
    background: var(--bg-color);
    @include media(720px) {
        font-size: 16px;
    }
}

.container {
    width: 100%;
    max-width: 1540px;
    margin: 0 auto;
    padding: 0 20px;
}


@import "default";
@import "index";
@import "courses";
@import "news";
@import "teachers";
@import "teacher";
@import "books";
@import "one-news";
